<div class="row">
    <div class="col-xs-12 btn-group x_panel_filter" role="group" aria-label="First group">
        <button (click)="loadToday()" type="button" class="col-xs-3 btn btn-default btn-sm">Today</button>
        <button (click)="loadYesterday()" type="button" class="col-xs-2 btn btn-default btn-sm">Yesterday</button>
        <button (click)="loadLastWeek()" type="button" class="col-xs-2 btn btn-default btn-sm">Last Week</button>
        <button (click)="loadLastMonth()" type="button" class="col-xs-2 btn btn-default btn-sm">Last Month</button>
        <button (click)="loadLastYear()" type="button" class="col-xs-3 btn btn-default btn-sm">Last Year</button>
    </div>
</div>