<!-- INNER TILES -->
<div class="row">
    <!-- -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Vouchers List <small> all</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Image</th>
                            <th>Value</th>
                            <th>Client</th>
                            <th>Created on</th>
                            <th style="text-align:center;">Action</th>
                        </tr>

                    </thead>


                    <tbody>

                        <tr>
                            <td>1</td>
                            <td>#1280717</td>
                            <td> <img src="" /> </td>
                            <td>00 000 FRW</td>
                            <td>ClientName</td>
                            <td>dd/mm/yyyy 00:00</td>
                            <td style="text-align:center;">
                                <a class="action_icon ico_email" href="#" id="btn_voucheremail"><i class="zmdi zmdi-email"></i></a>
                                <a class="action_icon ico_print" href="#" id="btn_voucherprint"><i class="fa fa-print"></i></a>
                                <a class="action_icon ico_view" href="#" id="btn_voucherdetails"><i class="fa fa-eye"></i></a>
                                <a class="action_icon ico_delete" href="#" id="btn_confirm"> <i class="zmdi zmdi-pause"></i> </a>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>####2</td>
                            <td> <img src="" /> </td>
                            <td>00 000 FRW</td>
                            <td>ClientName</td>
                            <td>dd/mm/yyyy 00:00</td>
                            <td style="text-align:center;">
                                <a class="action_icon ico_email" href="#" id="btn_voucheremail"><i class="zmdi zmdi-email"></i></a>
                                <a class="action_icon ico_print" href="#" id="btn_voucherprint"><i class="fa fa-print"></i></a>
                                <a class="action_icon ico_view" href="#" id="btn_voucherdetails"><i class="fa fa-eye"></i></a>
                                <a class="action_icon ico_delete" href="#" id="btn_confirm"> <i class="zmdi zmdi-pause"></i> </a>
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>####3</td>
                            <td> <img src="" /> </td>
                            <td>00 000 FRW</td>
                            <td>ClientName</td>
                            <td>dd/mm/yyyy 00:00</td>
                            <td style="text-align:center;">
                                <a class="action_icon ico_email" href="#" id="btn_voucheremail"><i class="zmdi zmdi-email"></i></a>
                                <a class="action_icon ico_print" href="#" id="btn_voucherprint"><i class="fa fa-print"></i></a>
                                <a class="action_icon ico_view" href="#" id="btn_voucherdetails"><i class="fa fa-eye"></i></a>
                                <a class="action_icon ico_delete" href="#" id="btn_confirm"> <i class="zmdi zmdi-pause"></i> </a>
                            </td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>####4</td>
                            <td> <img src="" /> </td>
                            <td>00 000 FRW</td>
                            <td>ClientName</td>
                            <td>dd/mm/yyyy 00:00</td>
                            <td style="text-align:center;">
                                <a class="action_icon ico_email" href="#" id="btn_voucheremail"><i class="zmdi zmdi-email"></i></a>
                                <a class="action_icon ico_print" href="#" id="btn_voucherprint"><i class="fa fa-print"></i></a>
                                <a class="action_icon ico_view" href="#" id="btn_voucherdetails"><i class="fa fa-eye"></i></a>
                                <a class="action_icon ico_delete" href="#" id="btn_confirm"> <i class="zmdi zmdi-pause"></i> </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- -->



</div>
<!-- End INNER TILES -->