<div class="container body">
	<div class="main_container">
		<!-- Nav -->
		<app-nav></app-nav>
		<!-- /Nav -->

		<!-- Spinner for 'Please wait' -->
		<ng4-loading-spinner> </ng4-loading-spinner>
		
		<!-- page content -->
		<div class="right_col" role="main">
			<router-outlet></router-outlet>
		</div>
		<!-- /page content -->

		<!-- footer content -->
		<footer *ngIf="isLoggedIn">
		  <div class="pull-right">
		      Powered by Oltranz.com
		  </div>
		  <div class="clearfix"></div>
		</footer>
		<!-- /footer content -->

	</div>
</div>